<!DOCTYPE html>
<html>
<head>
    <title>Text to Speech Converter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body> 
    <h1>Text to Speech Converter</h1>
    
    <form id="conversion-form">
        <textarea id="text-input" placeholder="Enter text"></textarea>
        <br>
        <label for="language">Select Language:</label>
        <select id="language-select">
            <option value="en">English</option>
            <option value="bn">Bengali</option>
            <!-- Add more options here -->
        </select>
        <br>
        <button type="button" onclick="convertTextToSpeech()">Convert</button>
    </form>

    <div id="audio-player-container" style="display: none;">
        <audio controls preload="auto" id="audio-player">
            Your browser does not support the audio element.
        </audio>
        <a id="download-link" style="display: none;" download><button>Download</button></a>
    </div>

    <footer class="footer">
        <p class="footer-text">
            © Created by <a href="https://about.me/mohaimenulislamshawon/" target="_blank" class="footer-link">Shawon</a>
        </p>
    </footer>

    <script>
        async function convertTextToSpeech() {
            const text = document.getElementById("text-input").value;
            const language = document.getElementById("language-select").value;

            const response = await fetch("URL_TO_YOUR_FLASK_ENDPOINT", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ text, language })
            });

            if (response.ok) {
                const blob = await response.blob();
                const audioPlayer = document.getElementById("audio-player");
                const audioPlayerContainer = document.getElementById("audio-player-container");
                const downloadLink = document.getElementById("download-link");

                audioPlayer.src = URL.createObjectURL(blob);
                audioPlayerContainer.style.display = "block";
                downloadLink.style.display = "block";
                downloadLink.href = URL.createObjectURL(blob);
                downloadLink.download = "output.mp3";
            } else {
                // Handle error
                console.error("Error converting text to speech:", response.status);
            }
        }
    </script>
</body>
</html>
